@CHARSET "UTF-8";
/* --共通設定-- */

html{
	font-size: 100%;
	background-image: url(../../include/img/parts/main_bg.jpg);
	background-position: center;
	background-color: #FFF
}

.container{
	width: 980px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
	margin: 0 auto;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

a:link { color:#0000ff; text-decoration:none }
a:visited { color:#0000ff; text-decoration:none }
a:hover { color:#000000; text-decoration:underline }
a:active { color:#0000ff; text-decoration:none }


.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

input[type="text"], input[type="password"]{
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}
textarea{
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;	
}


/*
.contain {
    display: inline-block;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-size: contain;
}

.cover {
    display: inline-block;
    background-color: #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background-size: cover;
}
*/

/* --　TOP画面　-- */
.menu{
	border: solid 1px;
	margin: 100px auto;
	width: 30%;
	height: 100px;
}

/* --　ユーザー登録画面　-- */

.registration{
	margin: 50px auto;
	padding: 20px;
	width: 40%;
	font-size: 16px;
}
#pre-thumb{
    width:200px;
    overflow:hidden;
}
#thumb{
    width:100px;
    height:100px;
    overflow:hidden;
}

#confirm img{
	width: 100%;
	height: auto;
	overflow: hidden;

}


/* --　メイン画面　-- */
/* --　ヘッダー　-- */


header{
	position: absolute;
	top : 0;
	right : 0;
	left : 0;
	width: 100%;
	height: 100px;
	margin: auto;
	background-color: #FFFFFF;
	background-image: url(../../include/img/parts/header_bg.jpg);
	background-size: contain;
	background-repeat: x-repeat;
	background-position: center;
	box-shadow:0px 5px 10px 0px #000;
}
.top_wrapper{
	width: 100%;
}
.home_btn{
	bottom: 0;
	float:left;
}
.logout_btn{
	bottom: 0;
	float:right;
}

/* --メイン画面-- */

.main_wrapper{
	width: 100%;
	padding: 0 15px;
	margin: 120px auto 0;
}

/* --左カラム-- */
.left_container{
	width: 20%;
	float: left;
	position: relative;
}


/*#my_profile {
	width: 20%;
}*/

.my_profile{
	width: 100%;
	height: 150px;
	
}
.my_profile_image{
	width: 78px;
	height: 78px;
	float: left;
	overflow: hidden;
	border-radius: 9px;
}
.my_profile_image img{
	width: 100%;
	height: auto;	
}
.my_profile_user{
	width: 60%;
	float: left;
	text-align: left;
}
.my_profile_user ul{
	padding: 0 5px;
	margin: 0 auto;
	list-style-type: none;
	float: left;
}
.my_profile_user a:link{
	color: red;
}
.my_profile_user a:hover{
	color: red;
}
.my_profile_user a:visited{
	color: red;
}
.my_profile_user_name{
	font-size: 1.5rem;
	width: 100px;
	overflow: hidden; /*省略表記*/  
    white-space: nowrap;  /*省略表記*/
    text-overflow: ellipsis;  /*省略表記*/
}
.my_profile_user_id{
	font-size: 0.8rem;
	opacity: 0.5;
}


.my_profile_num{
	width: 100%;
	list-style-type: none;
	text-align:center;
	margin: 0 auto;
	padding: 0;
}
.my_profile_info li{
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}
.my_profile_info p{
	font-size: 0.3rem;
}

.my_profile:after {
    content: "";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#userList {
	width: 100%;
	text-align:left;
}
.user_list_title{
	width: 100%;
	margin: 0 auto;
}

.user_profile {
	width: 100%;
	height: 100px;
	padding: 0;
	margin: 5px 0;
	border-radius: 30px;
	background-color: rgba(255,255,255,0.5)
	
}
.user_profile_image{
	width: 52px;
	height: 52px;
	border-radius: 9px;
	margin: 5px;
	overflow: hidden;
	}
.user_profile_image img{
	width: 100%;
	height: auto;		
}
.user_profile input{
	font-size: 5px;
	margin-bottom: 0;
}
.follow_btn{
	margin: 0 auto;
	padding: 0;
}
.user_profile_left{
	float:left;
	text-align: center;
}
.user_profile_left :after{
	float: clear;
}

.follower_user_name{
}
.follower_user_id{
	font-size: 5px;
	color: gray;
}
.follower_user_profile{
	font-size: 10px;
	height: 60px;
	overflow: hidden;
	padding: 0 5px;
}

/* --右カラム-- */
.right_container{
	width: 80%;
	float: left;
	text-align: center;
	margin: 0 auto;
}

#my_timeline {
	width: 450px;
	margin: 0 auto;
}

#post {
	width: 700px;
	margin-left:50px;
	margin: 0 auto;
}
#post textarea{
	width: 300px;
	height: 50px;
	font-size: 0.8rem;
}

#utu_submit{
	width: 65px;
	height: 40px;
	margin: 0 auto;	
}




#all_timeline {
	width: 80%;
	text-align: left;
	margin: 0 auto;
}

.utweet_box{
	clear: both;
}

#all_timeline > div+div{
 border-top:1px dashed #999966
}

utweet_box:after{
	display:block;
    clear:both;
    height:0px;
    visibility:hidden;
    content:".";
}
.utweet_profile_image{
	width: 52px;
	height: 52px;
	border-radius: 9px;
	margin: 15px 5px;
	overflow: hidden;
	float: left;
	}
.utweet_profile_image img{
	width: 100%;
	height: auto;		
}
.utweet_info{
	float:left;
	margin: 0 auto;
	padding: 5px;
}

.utweet_user_top{
	float:left;
	width: 550px;
}
.utweet_user_id{
	font-size: 1.5rem;
	float: left;
}
.utweet_user_name{
	font-size: 0.8rem;
	float: left;
	color: gray;
	margin: 8px;
}
.utweet{
	width: 550px;
	clear: both;
	font-size: 1.0rem;
	margin: 0;
	padding: 0;
}
.utweet_date{
	font-size: 0.8rem;
	text-align: right;
}
.utweet_action li{
	font-size: 0.8rem;
	list-style-type: none;
	display: inline-block;
}

my_post {
	width:450px;
}

.left {
	float:left;
}
.clear {
	clear:both;
}

.icon {
	max-width:24px;
	max-height:24px;
}
                                  