@CHARSET "UTF-8";

#my_profile {
	float:left;
	width:240px;
}

#my_timeline {
	width: 450px;
	text-align:center;
}

#post {
	width: 300px;
}

#userList {
	width: 450px;
	text-align:center;
	margin-left: 50px;
}

#all_timeline {
	width: 400px;
	text-align:center;
	margin-left: 50px;
}

.my_post {
	width:450px;
}
.user {
	border:solid 1px;
}
.left {
	float:left;
}
